<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Annuaire</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Upload</servlet-name>
    <servlet-class>com.subgest.servlets.Upload</servlet-class>
    <multipart-config>
      <location>/tmp/</location>
      <max-file-size>10485760</max-file-size>
      <max-request-size>52428800</max-request-size>
      <file-size-threshold>1048576</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>Upload</servlet-name>
    <url-pattern>/upload</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Accueil</servlet-name>
    <servlet-class>com.annuaire.servlets.Accueil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Accueil</servlet-name>
    <url-pattern>/accueil</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>Aide</servlet-name>
    <servlet-class>com.annuaire.servlets.Aide</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Aide</servlet-name>
    <url-pattern>/aide</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>Consultation</servlet-name>
    <servlet-class>com.annuaire.servlets.Consultation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Consultation</servlet-name>
    <url-pattern>/consultation</url-pattern>
  </servlet-mapping>
      <servlet>
    <servlet-name>Formulaires</servlet-name>
    <servlet-class>com.annuaire.servlets.Formulaires</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Formulaires</servlet-name>
    <url-pattern>/formulaires</url-pattern>
  </servlet-mapping>
        <servlet>
    <servlet-name>Visualiser</servlet-name>
    <servlet-class>com.annuaire.servlets.Visualiser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Visualiser</servlet-name>
    <url-pattern>/visualiser</url-pattern>
  </servlet-mapping>
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <include-prelude>/WEB-INF/taglibs.jsp</include-prelude>
    </jsp-property-group>
  </jsp-config>
  <context-param>
    <description>Emplacement des fichiers SRT upload.</description>
    <param-name>cheminfichiers</param-name>
    <param-value>/WEB-INF/fichiersSRT/upload/</param-value>
  </context-param>
  <context-param>
    <description>Emplacement des fichiers SRT sauvés.</description>
    <param-name>cheminfichierssrt</param-name>
    <param-value>/WEB-INF/fichiersSRT/newsrt/</param-value>
  </context-param>
</web-app>